<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Приложение 8</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <style>
        body {
            /*font-family: 'Open Sans', sans-serif;*/
            font-family: "DejaVu Sans", sans-serif;
            font-size: 14px;
        }
        table {
            width: 100%;
            border-right: 1px solid #dddddd;
            border-bottom: 1px solid #dddddd;
        }
        td {
            text-align: center;
            padding: 10px;
            border-top: 1px solid #dddddd;
            border-left: 1px solid #dddddd;
        }
        td:first-child {
            text-align: center;
        }
        .text-center {
            text-align: center;
        }
        .ss {
            font-size: 12px;
        }
        .page-break {
            page-break-after: always;
        }
        h4 {
            text-transform: uppercase;
            text-align: center;
        }
        u {
            text-decoration: none;
            border-bottom: 1px solid #222;
        }
    </style>
</head>
<body>
    <div style="float: right;">
        <p class="text-center ss">
            Приложение 8<br/>
            к Правилам стимулирования<br/>
            производства в Республике<br/>
            Казахстан экологически чистых<br/>
            автомобильных транспортных средств<br/>
            (соответствующих экологическому<br/>
            классу, установленному<br/>
            техническим регламентом<br/>
            Евразийского экономического союза;<br/>
            с электродвигателями) и их<br/>
            компонентов, а также самоходной<br/>
            сельскохозяйственной техники,<br/>
            соответствующей экологическим<br/>
            требованиям, определенным<br/>
            техническими регламентами<br/><br/>
            Форма
        </p>
    </div>
    <div style="clear: both;"></div>
    <h4 class="text-center">
        Расчет финансирования, связанного с поддержкой гарантийных<br/>
        обязательств в отношении автомобильных транспортных средств<br/>
        категории М, в том числе повышенной проходимости категории G
    </h4>
    <p>
        Наименование организации <u>[FUND_FROM]</u><br/>
        Место нахождения <u>[FUND_ADDRESS]</u><br/>
        БИН (ИИН) <u>[FUND_IDNUM]</u> ОКЭД <u>[FUND_OKED]</u> Кбе <u>[FUND_KBE]</u> БИК <u>[FUND_BIK]</u><br/>
        Свидетельство о регистрации <u>[FUND_REG_NUM]</u>
    </p>
    <table cellspacing="0">
        <thead>
            <tr>
                <td>
                    Категория<br/>
                    автомобильных<br/>
                    транспортных<br/>
                    средств
                </td>
                <td>
                    Объем двигателя (куб. см.)
                </td>
                <td>
                    Количество<br/>
                    выпущенных<br/>
                    автомобильных<br/>
                    транспортных<br/>
                    средств<br/>
                    (штук)
                </td>
                <td>
                    Размер ставки финансирования,<br/>
                    связанного с поддержкой<br/>
                    гарантийных обязательств в<br/>
                    отношении экологически чистых<br/>
                    транспортных средств<br/>
                    категории категории М1, М2,<br/>
                    М3 (МРП)*
                </td>
                <td>
                    Сумма,<br/>
                    подлежащая<br/>
                    выплате<br/>
                    (тенге)
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>А</td>
                <td>Б</td>
                <td>В</td>
                <td>Г</td>
                <td>Д=В*Г*МРП</td>
            </tr>
            <tr>
                <td rowspan="5">М1</td>
                <td>Не более 1 000</td>
                <td>[M1_1C]</td>
                <td>75</td>
                <td>[M1_1]</td>
            </tr>
            <tr>
                <td>Свыше 1 000, но не более 2 000</td>
                <td>[M1_2C]</td>
                <td>175</td>
                <td>[M1_2]</td>
            </tr>
            <tr>
                <td>Свыше 2 000, но не более 3 000</td>
                <td>[M1_3C]</td>
                <td>250</td>
                <td>[M1_3]</td>
            </tr>
            <tr>
                <td>Свыше 3 000</td>
                <td>[M1_4C]</td>
                <td>575</td>
                <td>[M1_4]</td>
            </tr>
            <tr>
                <td>С электродвигателем</td>
                <td>[M1_0C]</td>
                <td>475</td>
                <td>[M1_0]</td>
            </tr>
            <tr>
                <td rowspan="5">М2, М3</td>
                <td>Не более 2 500</td>
                <td>[M2_1C]</td>
                <td>200</td>
                <td>[M2_1]</td>
            </tr>
            <tr>
                <td>Свыше 2 500, но не более 5 000</td>
                <td>[M2_2C]</td>
                <td>400</td>
                <td>[M2_2]</td>
            </tr>
            <tr>
                <td>Свыше 5 000, но не более 10 000</td>
                <td>[M2_3C]</td>
                <td>525</td>
                <td>[M2_3]</td>
            </tr>
            <tr>
                <td>Свыше 10 000</td>
                <td>[M2_4C]</td>
                <td>675</td>
                <td>[M2_4]</td>
            </tr>
            <tr>
                <td>С электродвигателем</td>
                <td>[M2_0C]</td>
                <td>200</td>
                <td>[M2_0]</td>
            </tr>
            <tr>
                <td colspan="4">Размер финансирования к выплате:</td>
                <td>[M_TOTAL]</td>
            </tr>
        </tbody>
    </table>
    <div style="clear: both;"></div>
    <p style="text-align: justify;"><em>* Примечание: Для расчета размера финансирования, связанного с
        поддержкой гарантийных обязательств в отношении автомобильных
        транспортных средств категории М1, М2, М3, выпущенных до 14 мая 2022 года,
        в том числе повышенной проходимости категории G, применяются
        максимальные размеры ставок финансирования, связанные с поддержкой
        гарантийных обязательств в отношении экологически чистых транспортных
        средств категории М1, М2, М3, предусмотренные до введения в действие
        настоящего приказа.</em>
    </p>
    <div style="clear: both;"></div>
    <p>[FUND_SIGN]</p>
	[CANCELLED]
</body>
</html>
