<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заявление на финансирование</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <style>
        body {
            /*font-family: 'Open Sans', sans-serif;*/
            font-family: "DejaVu Sans", sans-serif;
            font-size: 12px;
        }
        table {
            width: 100%;
            border-right: 1px solid #dddddd;
            border-bottom: 1px solid #dddddd;
        }
        td {
            padding: 4px;
            border-top: 1px solid #dddddd;
            border-left: 1px solid #dddddd;
        }
        td:first-child {
            text-align: center;
        }
        .text-center {
            text-align: center;
        }
        .ss {
            font-size: 12px;
        }
        .page-break {
            page-break-after: always;
        }
        h4 {
            text-transform: uppercase;
            text-align: center;
        }
        u {
            text-decoration: none;
            border-bottom: 1px solid #222;
        }
    </style>
</head>
<body>
    <div style="float: right;">
        <p class="text-center ss">
            Приложение 15<br>
            к Правилам стимулирования<br/>
            производства в Республике<br/>
            Казахстан экологически чистых<br/>
            автомобильных транспортных<br/>
            средств (соответствующих<br/>
            экологическому классу 4 и выше;<br />
            с электродвигателями) и их<br/>
            компонентов, а также самоходной<br/>
            сельскохозяйственной техники,<br/>
            соответствующей экологическим<br/>
            требованиям, определенным<br/>
            техническими регламентами<br/><br/>
            Форма
        </p>
    </div>
    <div style="clear: both;"></div>
    <h4>Заявление о предоставлении прочих сумм финансирования</h4>
    <p class="text-justify">
        Согласно пункту 17 Правил стимулирования производства в Республике
        Казахстан экологически чистых автомобильных транспортных средств
        (соответствующих экологическому классу 4 и выше; с электродвигателями) и
        их компонентов, а также самоходной сельскохозяйственной техники,
        соответствующей экологическим требованиям, определенным техническими
        регламентами, [FUND_FROM] обращается к
        оператору расширенных обязательств производителей (импортеров)
        [FUND_TO] с заявлением о предоставлении финансирования производства
        следующих [FUND_CAR_TRAC]:<br />
        <br> [FUND_LIST], место реализации
        [FUND_COUNTRY], за период [FUND_PERIOD], по которым финансирование:<br /><br/>
        — заявлено в размере (в тенге) [FUND_CAMOUNT], в том числе:
    </p>
    <table cellspacing="0">
        <thead>
            <tr>
                <td style="width: 5%;">№ п/п</td>
                <td>Направление финансирования</td>
                <td>Сумма финансирования, тенге</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Затраты на содержание рабочих мест</td>
                <td>[FUND_W]</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Затраты на использование энергоресурсов</td>
                <td>[FUND_E]</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Затраты на осуществление научно-исследовательских и опытно-конструкторских разработок</td>
                <td>[FUND_R]</td>
            </tr>
            <tr>
                <td>4</td>
                <td>
                    Затраты, связанные с проведением испытаний автомобильных транспортных средств и
                    их компонентов, транспортировкой образцов автомобильных транспортных средств и
                    их компонентов до места проведения испытаний и обратно, связанных с выпуском продукции
                </td>
                <td>[FUND_TC]</td>
            </tr>
            <tr>
                <td>5</td>
                <td>
                    Затраты, связанные с проведением испытаний самоходной сельскохозяйственной техники,
                    транспортировку образцов самоходной сельскохозяйственной техники до места проведения
                    испытаний и обратно, связанных с выпуском продукции
                </td>
                <td>[FUND_TT]</td>
            </tr>
            <tr>
                <td>6</td>
                <td>
                    Затраты на поддержку гарантийных обязательств в отношении автомобильных транспортных
                    средств категории М, в том числе повышенной проходимости категории G
                </td>
                <td>[FUND_GM]</td>
            </tr>
            <tr>
                <td>7</td>
                <td>
                    Затраты на поддержку гарантийных обязательств в отношении автомобильных транспортных
                    средств категории N, в том числе повышенной проходимости категории G
                </td>
                <td>[FUND_GN]</td>
            </tr>
            <tr>
                <td>8</td>
                <td>
                    Затраты на поддержку гарантийных обязательств в отношении самоходной
                    сельскохозяйственной техники
                </td>
                <td>[FUND_GT]</td>
            </tr>
            <tr>
                <td>9</td>
                <td>
                    Сумма финансирования в части затрат на поддержку гарантийных обязательств в отношении компонентов к экологически чистым автомобильным транспортным средствам (в тенге):
                </td>
                <td>0,00</td>
            </tr>
            <tr>
                <td></td>
                <td>Итого</td>
                <td>[FUND_TOTAL]</td>
            </tr>
        </tbody>
    </table>
    <p>
        [CAR_LIST_TITLE]
    </p>
    <table cellspacing="0">
        <thead>
            <tr>
                <td>№</td>
                <td>Идентификационный номер</td>
                <td>Краткое наименование</td>
            </tr>
        </thead>
        <tbody>
            [CAR_LIST]
        </tbody>
    </table>
    <p>Приложения:</p>
    <ol>
        <li>расчет финансирования части затрат на содержание рабочих мест;</li>
        <li>расчет финансирования части затрат на использование энергоресурсов;</li>
        <li>расчет финансирования части затрат на осуществление научно-исследовательских и опытно-конструкторских работ;</li>
        <li>
            расчет финансирования части затрат, связанных с проведением испытаний автомобильных транспортных
            средств и их компонентов и (или) самоходной сельскохозяйственной техники, транспортировкой образцов
            автомобильных транспортных средств и их компонентов и (или) самоходной сельскохозяйственной техники
            до места проведения испытаний и обратно, связанных с выпуском продукции;
        </li>
        <li>
            расчет финансирования, связанного с поддержкой гарантийных обязательств в отношении автомобильных
            транспортных средств категории М, в том числе повышенной проходимости категории G;
        </li>
        <li>
            расчет финансирования, связанного с поддержкой гарантийных обязательств в отношении автомобильных
            транспортных средств категории N, в том числе повышенной проходимости категории G;
        </li>
        <li>
            расчет финансирования, связанного с поддержкой гарантийных обязательств в отношении самоходной
            сельскохозяйственной техники;
        </li>
        <li>
            расчет финансирования, связанного с поддержкой гарантийных обязательств в отношении компонентов к экологически чистым автомобильным транспортным средствам;
        </li>
        <li>
            отчет о производстве экологически чистых автомобильных транспортных средств;
        </li>
        <li>
            отчет о производстве самоходной сельскохозяйственной техники, соответствующая экологическим
            требованиям, определенным техническими регламентами;
        </li>
        <li>
            отчет о производстве компонентов экологически чистых автомобильных транспортных средств;
        </li>
        <li>
            утвержденную плановую калькуляцию себестоимости продукции (одной единицы) в части заявляемых
            затрат, за исключением поддержки гарантийных обязательств.
        </li>
    </ol>
    <p>[FUND_SIGN]</p>
	[CANCELLED]
</body>
</html>